*{
    font-family:Arial, Helvetica, sans-serif
}
.navbar{
    border: 2px solid black;
    height: 75px;
    background-color:black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#brand{
    font-size: xx-large;
    font-weight: 400;
}

.menu{
    width:500px;
    height: 75px;
    display:flex;
    justify-content:space-between;
    align-items: center; 
    font-size: x-large;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
a{
    text-decoration: none;
    color: gray;
}

#home{
    font-weight: 400;
} 
[target*="l"]{
    color: white;
}
#about{
    color: gray;
}
.search{
    /* border: 2px solid blue; */
    width: 400px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input{
    height: 40px;
    width: 200px;
}
button{
    height: 40px;
    width: 100px;
    color: gray;
    background-color: black;
    border: 1px solid gray;
    border-radius: 6px;
}



